

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.principal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/k.jpg');
    background-size: cover;
    background-position: bottom;
    flex-direction: column;
}

.area{
    width: 900px;
    height: 600px;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px orange;
}

.img{
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
    margin-top: -200px;
    background-image: url('../img/s1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    animation: sharingan 7s infinite;
}



.pergunta{
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 15px #000;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 90px;
}

.area .opcao{
    font-size: 19px;
    width: calc(100vw - 50vw);
    height: 40px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 10px;
    border-radius: 10px;
    margin:10px auto 10px auto;
    cursor: pointer;
}

.opcao:hover{
   background-color:  #53d653;
}

.opcao span{
    width: 25px;
    height: 25px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}



/* AREA DE PONTOS */

.score{
    width: 100%;
    display: none;
}

.scoreArea {
    background-color: rgba(255, 255, 255, 0.5);
    background-image:linear-gradient(to top, rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/k.jpg');
    background-position: left;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px #000;
    max-width: 900px;
    margin:auto;
}

.prizeImage {
    width: auto;
    height: 400px;
    margin-bottom: 10px;
}

.scoreText1 {
    color: rgb(88, 236, 19);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}


.scorePct {
    color: #4ceb4c;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scoreText2 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #CCC;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}






/* ANIMAÇÕES */

@keyframes sharingan {
    to{
        transform: rotate(1turn);
    }
    0%{
        background-image: url('../img/s1.png');
    }

    50%{
        background-image: url('../img/s2.png');
    }

    100%{
        background-image: url('../img/s3.png');
    }
}



/* RESPONVIDADE */



@media (max-width: 905px) {
    .principal{
        padding:0 30px;
    }

    .area{
        width: 700px;
        height: 500px;
    }
}

@media (max-width: 320px) {
     .principal{
         padding:0;
         background-position: left;
     }
    .area{
        width: 100%;
        height: 100%;
        border-radius: none;
    }

    .img{
        width: 120px;
        height: 120px;
        margin-top: 70px;
    }

    .area .pergunta{
        margin-top: 0;
        font-size: 22px;
    }

    .opcoes .opcao{
        width: calc(100vw - 30px);
        font-size: 15px;
    }
    
    .scoreArea{
        height: 100vh;
    }
}


@media (max-width: 380px) {
    .principal{
        padding:0;
        background-position: left;
    }
   .area{
       width: 100%;
       height: 100%;
       border-radius: none;
   }

   .img{
       width: 120px;
       height: 120px;
       margin-top: 70px;
       margin-bottom: 20px;
   }

   .area .pergunta{
       margin-top: 0;
       font-size: 27px;
   }

   .area .opcoes .opcao{
       width: calc(100vw - 30px);
       font-size: 18px;
     
   }
   
}

@media (max-width: 420px) {
    .principal{
        padding:0;
        background-position: left;
    }
   .area{
       width: 100%;
       height: 100%;
       border-radius: none;
   }

   .img{
       width: 120px;
       height: 120px;
       margin-top: 70px;
       margin-bottom: 20px;
   }

   .area  .pergunta{
       margin-top: 50px;
       padding: 0 10px;
   }

   .area .opcoes .opcao{
       width: calc(100vw - 30px);
       font-size: 23px;
       margin-bottom: 15px;
   }

   .scoreArea{
    height: 100vh;
}
   
}


@media (max-width: 820px) {
    .principal{
        padding:0;
        background-position: left;
    }
   .area{
       width: 100%;
       height: 100%;
       border-radius: none;
   }

   .img{
       width: 120px;
       height: 120px;
      
       margin-bottom: 20px;
   }

   .pergunta{
       margin-top: 0;
       font-size: 32px;
   }

   .area .opcao{
       width: calc(100vw - 30px);
       font-size: 22px;
   }

   .scoreArea{
    height: 100vh;
}
   
}